/Armstrong.class
/Armstrongseries.class
/Array2D.class
/Arraydemo.class
/Assignment01.class
/BMI.class
/Cross.class
/day_of_week.class
/Diamond.class
/DNF.class
/DNS_2.class
/hashmap.class
/Hollowtri.class
/inp.class
/leapyear.class
/Missing.class
/Numpattern.class
/Onetwopattern.class
/Onezpattern.class
/Palindrome.class
/Pivot.class
/Powernum.class
/Result.class
/Rev.class
/Reverse.class
/Rotateno.class
/Salary_assignment.class
/SArray.class
/singleelement.class
/Span.class
/Sum_arr.class
/Target.class
/Temperature.class
/transpose.class
/vowel_consonent.class
/ZeroOne.class
/_01loops.class
/_02loops.class
/_03loops.class
/_04loops.class